<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fontName</key>
		<string>Noteworthy-Light</string>
		<key>fontSize</key>
		<integer>22</integer>
		<key>imageCarousel</key>
		<string>SampleCardBlack.png</string>
		<key>imageFull</key>
		<string>SampleCardBlackEdit.png</string>
		<key>isCustomizable</key>
		<true/>
		<key>textAlignment</key>
		<string>Center</string>
		<key>textLines</key>
		<integer>4</integer>
		<key>textRGBA</key>
		<dict>
			<key>1_Red</key>
			<integer>255</integer>
			<key>2_Green</key>
			<integer>255</integer>
			<key>3_Blue</key>
			<integer>255</integer>
			<key>4_Alpha</key>
			<real>0.8</real>
		</dict>
		<key>textviewWidth</key>
		<integer>250</integer>
		<key>textviewX</key>
		<integer>40</integer>
		<key>textviewYCenter</key>
		<integer>170</integer>
	</dict>
	<dict>
		<key>fontName</key>
		<string>AcademyEngravedLetPlain</string>
		<key>fontSize</key>
		<integer>22</integer>
		<key>imageCarousel</key>
		<string>Blue.png</string>
		<key>imageFull</key>
		<string>Blue.png</string>
		<key>isCustomizable</key>
		<true/>
		<key>textAlignment</key>
		<string>Center</string>
		<key>textLines</key>
		<integer>4</integer>
		<key>textRGBA</key>
		<dict>
			<key>1_Red</key>
			<integer>255</integer>
			<key>2_Green</key>
			<integer>255</integer>
			<key>3_Blue</key>
			<integer>255</integer>
			<key>4_Alpha</key>
			<integer>1</integer>
		</dict>
		<key>textviewWidth</key>
		<integer>250</integer>
		<key>textviewX</key>
		<integer>40</integer>
		<key>textviewYCenter</key>
		<integer>170</integer>
	</dict>
	<dict>
		<key>fontName</key>
		<string>AcademyEngravedLetPlain</string>
		<key>fontSize</key>
		<integer>22</integer>
		<key>imageCarousel</key>
		<string>White.png</string>
		<key>imageFull</key>
		<string>White.png</string>
		<key>isCustomizable</key>
		<true/>
		<key>textAlignment</key>
		<string>Left</string>
		<key>textLines</key>
		<integer>4</integer>
		<key>textRGBA</key>
		<dict>
			<key>1_Red</key>
			<integer>255</integer>
			<key>2_Green</key>
			<integer>255</integer>
			<key>3_Blue</key>
			<integer>255</integer>
			<key>4_Alpha</key>
			<integer>1</integer>
		</dict>
		<key>textviewWidth</key>
		<integer>250</integer>
		<key>textviewX</key>
		<integer>40</integer>
		<key>textviewYCenter</key>
		<integer>170</integer>
	</dict>
	<dict>
		<key>fontName</key>
		<string>SnellRoundhand</string>
		<key>fontSize</key>
		<integer>22</integer>
		<key>imageCarousel</key>
		<string>Blue.png</string>
		<key>imageFull</key>
		<string>Blue.png</string>
		<key>isCustomizable</key>
		<true/>
		<key>textAlignment</key>
		<string>Center</string>
		<key>textLines</key>
		<integer>4</integer>
		<key>textRGBA</key>
		<dict>
			<key>1_Red</key>
			<integer>255</integer>
			<key>2_Green</key>
			<integer>255</integer>
			<key>3_Blue</key>
			<integer>255</integer>
			<key>4_Alpha</key>
			<integer>1</integer>
		</dict>
		<key>textviewWidth</key>
		<integer>250</integer>
		<key>textviewX</key>
		<integer>40</integer>
		<key>textviewYCenter</key>
		<integer>140</integer>
	</dict>
	<dict>
		<key>fontName</key>
		<string>SnellRoundhand</string>
		<key>fontSize</key>
		<integer>30</integer>
		<key>imageCarousel</key>
		<string></string>
		<key>imageFull</key>
		<string>White.png</string>
		<key>isCustomizable</key>
		<true/>
		<key>textAlignment</key>
		<string>Center</string>
		<key>textLines</key>
		<integer>10</integer>
		<key>textRGBA</key>
		<dict>
			<key>1_Red</key>
			<integer>240</integer>
			<key>2_Green</key>
			<integer>240</integer>
			<key>3_Blue</key>
			<integer>120</integer>
			<key>4_Alpha</key>
			<integer>1</integer>
		</dict>
		<key>textviewWidth</key>
		<integer>190</integer>
		<key>textviewX</key>
		<integer>20</integer>
		<key>textviewYCenter</key>
		<integer>170</integer>
	</dict>
	<dict>
		<key>fontName</key>
		<string>Baskerville</string>
		<key>fontSize</key>
		<integer>20</integer>
		<key>imageCarousel</key>
		<string></string>
		<key>imageFull</key>
		<string>Blue.png</string>
		<key>isCustomizable</key>
		<true/>
		<key>textAlignment</key>
		<string>Left</string>
		<key>textLines</key>
		<integer>7</integer>
		<key>textRGBA</key>
		<dict>
			<key>1_Red</key>
			<integer>244</integer>
			<key>2_Green</key>
			<integer>235</integer>
			<key>3_Blue</key>
			<integer>233</integer>
			<key>4_Alpha</key>
			<integer>1</integer>
		</dict>
		<key>textviewWidth</key>
		<integer>190</integer>
		<key>textviewX</key>
		<integer>20</integer>
		<key>textviewYCenter</key>
		<integer>370</integer>
	</dict>
	<dict>
		<key>fontName</key>
		<string></string>
		<key>fontSize</key>
		<integer>16</integer>
		<key>imageCarousel</key>
		<string></string>
		<key>imageFull</key>
		<string>Grey.png</string>
		<key>isCustomizable</key>
		<false/>
		<key>textAlignment</key>
		<string>Center</string>
		<key>textLines</key>
		<integer>0</integer>
		<key>textRGBA</key>
		<dict>
			<key>1_Red</key>
			<integer>0</integer>
			<key>2_Green</key>
			<integer>0</integer>
			<key>3_Blue</key>
			<integer>0</integer>
			<key>4_Alpha</key>
			<integer>1</integer>
		</dict>
		<key>textviewWidth</key>
		<integer>0</integer>
		<key>textviewX</key>
		<integer>0</integer>
		<key>textviewYCenter</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>fontName</key>
		<string>Chalkduster</string>
		<key>fontSize</key>
		<integer>30</integer>
		<key>imageCarousel</key>
		<string></string>
		<key>imageFull</key>
		<string>Blue.png</string>
		<key>isCustomizable</key>
		<true/>
		<key>textAlignment</key>
		<string>Left</string>
		<key>textLines</key>
		<integer>12</integer>
		<key>textRGBA</key>
		<dict>
			<key>1_Red</key>
			<integer>140</integer>
			<key>2_Green</key>
			<integer>10</integer>
			<key>3_Blue</key>
			<integer>90</integer>
			<key>4_Alpha</key>
			<integer>1</integer>
		</dict>
		<key>textviewWidth</key>
		<integer>250</integer>
		<key>textviewX</key>
		<integer>20</integer>
		<key>textviewYCenter</key>
		<integer>140</integer>
	</dict>
	<dict>
		<key>fontName</key>
		<string>Baskerville</string>
		<key>fontSize</key>
		<integer>24</integer>
		<key>imageCarousel</key>
		<string></string>
		<key>imageFull</key>
		<string>White.png</string>
		<key>isCustomizable</key>
		<true/>
		<key>textAlignment</key>
		<string>Left</string>
		<key>textLines</key>
		<integer>30</integer>
		<key>textRGBA</key>
		<dict>
			<key>1_Red</key>
			<integer>120</integer>
			<key>2_Green</key>
			<integer>20</integer>
			<key>3_Blue</key>
			<integer>126</integer>
			<key>4_Alpha</key>
			<integer>1</integer>
		</dict>
		<key>textviewWidth</key>
		<integer>250</integer>
		<key>textviewX</key>
		<integer>20</integer>
		<key>textviewYCenter</key>
		<integer>120</integer>
	</dict>
	<dict>
		<key>fontName</key>
		<string>SnellRoundhand</string>
		<key>fontSize</key>
		<integer>30</integer>
		<key>imageCarousel</key>
		<string></string>
		<key>imageFull</key>
		<string>Blue.png</string>
		<key>isCustomizable</key>
		<true/>
		<key>textAlignment</key>
		<string>Center</string>
		<key>textLines</key>
		<integer>10</integer>
		<key>textRGBA</key>
		<dict>
			<key>1_Red</key>
			<integer>0</integer>
			<key>2_Green</key>
			<integer>0</integer>
			<key>3_Blue</key>
			<integer>0</integer>
			<key>4_Alpha</key>
			<integer>1</integer>
		</dict>
		<key>textviewWidth</key>
		<integer>240</integer>
		<key>textviewX</key>
		<integer>40</integer>
		<key>textviewYCenter</key>
		<integer>210</integer>
	</dict>
	<dict>
		<key>fontName</key>
		<string>AcademyEngravedLetPlain</string>
		<key>fontSize</key>
		<integer>20</integer>
		<key>imageCarousel</key>
		<string>Grey.png</string>
		<key>imageFull</key>
		<string>Grey.png</string>
		<key>isCustomizable</key>
		<false/>
		<key>textAlignment</key>
		<string>Center</string>
		<key>textLines</key>
		<integer>30</integer>
		<key>textRGBA</key>
		<dict>
			<key>1_Red</key>
			<integer>255</integer>
			<key>2_Green</key>
			<integer>255</integer>
			<key>3_Blue</key>
			<integer>255</integer>
			<key>4_Alpha</key>
			<integer>1</integer>
		</dict>
		<key>textviewWidth</key>
		<integer>250</integer>
		<key>textviewX</key>
		<integer>20</integer>
		<key>textviewYCenter</key>
		<integer>120</integer>
	</dict>
</array>
</plist>
